@page "/"
@inherits IndexBase
@inject IJSRuntime JsRuntime
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject Simple.KYC.Services.FaceDetectionClient FaceDetectionClient
@inject Simple.KYC.Services.AnalyseTweets AnalyseTweetsService



<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Know your customer...</h3>
            <h6>Search Twitter...</h6>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-12">
            <EditForm Model="@Identity" OnValidSubmit="(async () => await Submit())">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" @bind-value="Identity.Name" placeholder="Enter name" id="name">
                    <ValidationMessage For="@(() => Identity.Name)" />
                </div>
                <div class="form-group">
                    <label for="preview">Photo:</label>
                    <img id="preview" src="/images/who.png" width="100px" />
                    <input type="file" class="form-control" placeholder="Enter name" id="photo" @onchange="(async ()=> await Upload())">
                </div>
                <div class="btn-group float-right clearfix">

                    <button type="reset" class="btn btn-secondary">Clear</button>
                    @if (IsPhotoUploadInProgress || IsSearchInProgress)
                    {
                        <button type="submit" class="btn btn-primary" disabled>Processing...</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary">Submit</button>
                    }

                </div>
            </EditForm>

            @if (IsSearchInProgress)
            {
                <span>Searching...</span>
            }
            else
            {
                if (Users != null)
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Is Verified</th>
                                <th>Screen name</th>
                                <th>Name</th>
                                <th>Photo Confidence</th>
                                <th>Is Photo Identical</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Users)
                            {
                                <tr>
                                    <td><a href="@user.ProfilePhoto" target="_blank"><img src="@user.ProfilePhoto" class="rounded-circle" width="100px" alt=""></a></td>
                                    <td>@user.IsVerified.ToString()</td>
                                    <td><a href="https://twitter.com/@user.ScreenName" target="_blank">@@@user.ScreenName</a></td>
                                    <td class="w-50">
                                        <strong>@user.Name</strong>
                                        <p>@user.Info</p>
                                    </td>

                                    @if (user.Confidence > 0.9)
                                    {
                                        <td class="bg-success">@user.Confidence</td>
                                    }
                                    else if (user.Confidence > 0.85)
                                    {
                                        <td class="bg-warning">@user.Confidence</td>
                                    }
                                    else
                                    {
                                        <td>@user.Confidence</td>
                                    }
                                    @if (user.IsIdentical)
                                    {
                                        <td class="bg-success">@user.IsIdentical</td>
                                    }
                                    else
                                    {
                                        <td>@user.IsIdentical</td>
                                    }
                                    <td><button type="button" class="btn btn-primary"  @onclick="()=>AnaylzeTweets(user.Id)">Analyse Tweets</button></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
</div>

<Simple.KYC.Components.AnalyseTweetsModal></Simple.KYC.Components.AnalyseTweetsModal>
